{%-
  liquid
  assign has_marquee = false
  if section.settings.marquee_text != blank
    assign has_marquee = true
  endif

  assign style = ''
  if section.settings.enable_custom_background
    if section.settings.background_gradient != blank
      assign style = ' style="--section-background:' | append: section.settings.background_gradient | append: '"'
    elsif section.settings.background_color != blank
      assign style = ' style="--section-background:' | append: section.settings.background_color | append: '"'
    else
      assign style = ''
    endif
  endif

  if section.settings.enable_custom_color and section.settings.text_color != 'rgba(0,0,0,0)'
    assign color = section.settings.text_color
  else
    assign color = 'var(--color-headings)'
  endif

  capture style_classes
    echo 'color-' | append: section.settings.style | append: ' color-background '
    if style != ''
      echo ' section-background'
    endif
  endcapture
-%}

<style>
  .marquee {
    --scroll-speed: 70s;
    overflow: hidden;
    display: flex;
    color: {{- color -}};
  }

  .marquee__inner {
    display: flex;
    width: fit-content;
    white-space: nowrap;
    position: relative;
    will-change: transform;
    animation: marquee var(--scroll-speed) linear 0s infinite normal;
    animation-play-state: running;
  }

  .marquee--speed-2 .marquee__inner {
    animation: marquee calc(0.56 * var(--scroll-speed)) linear 0s infinite normal;
  }

  .marquee--speed-3 .marquee__inner {
    animation: marquee calc(0.42 * var(--scroll-speed)) linear 0s infinite normal;
  }

  @media (hover: hover) and (pointer: fine) {
    .marquee--pause-on-hover:hover .marquee__inner {
      animation-play-state: paused;
    }
  }

  .marquee__inner .marquee__item {
    display: block;
    width: 100%;
    min-width: max-content;
    padding-inline: calc(var(--spacing-step) * 2);
    line-height: calc(1.3 / max(1, var(--font-heading-scale)));
  }

  .marquee__inner .marquee__item > * {
    margin-block: 0;
  }

  .marquee a {
    text-decoration: none;
  }

  @supports (-webkit-text-stroke: 0.1rem {{ color }}) {
    .marquee__inner .marquee__item--stroke-only {
      color: var(--color-base-primary-transparent-0);
      -webkit-text-stroke-color: {{- color -}};
      -webkit-text-stroke-width: 0.1rem;
    }
  }

  .marquee--middle {
    position: absolute;
    top: 50%;
    left: 0;
    width: 100%;
    transform: translateY(-50%);
    z-index: 2;
  }

  @keyframes marquee {
    0% {
      transform: translateX(0);
    }

    100% {
      transform: translateX(-100%);
    }
  }

  #shopify-section-{{ section.id }} .marquee__item {
    font-size: calc(var(--font-heading-scale) * {{ section.settings.font_size | divided_by: 10.0 | append: 'rem' }});
  }
</style>

<script src="{{- 'marquee-carousel.js' | asset_url -}}" defer data-theme-script></script>

<div class="section__wrapper {{ style_classes }} {{ section.settings.outer_spacing }} {{ section.settings.inner_spacing }}" {{ style }}>
  {%- assign image_blocks = section.blocks | where: 'type', 'image' -%}

  {%- if has_marquee -%}
    {%- capture marquee_html -%}
      {%-
        liquid
        assign marquee_classes = 'marquee' | append: ' marquee--speed-' | append: section.settings.marquee_speed
        unless section.blocks.size == 0
        assign marquee_classes = marquee_classes | append: ' marquee--' | append: section.settings.marquee_position
        endunless
        if section.settings.marquee_pause_on_hover
          assign marquee_classes = marquee_classes | append: ' marquee--pause-on-hover'
        endif
      -%}
      <marquee-carousel class="{{ marquee_classes }}">
        {%- for el in (1..2) -%}
          <div class="marquee__inner js-marquee-inner capitalize">
            {% for i in (1..15) %}
              {%-
                liquid
                capture marquee_item_class
                  echo section.settings.heading_size | append: ' marquee__item'
                  if section.settings.marquee_position == 'bottom' and section.blocks.size > 0
                    echo ' mt-m mb-0'
                  elsif section.settings.marquee_position == 'top' and section.blocks.size > 0
                    echo ' mt-0 mb-m'
                  elsif section.blocks.size > 0
                    echo ' mt-0 mb-0'
                  endif
                endcapture
                assign loop_modulo_remainder = forloop.index | modulo: 2
                if loop_modulo_remainder == 0
                  assign marquee_item_class = marquee_item_class | append: ' marquee__item--stroke-only'
                endif
              -%}
              <div class="{{- marquee_item_class -}}" data-item>{{ section.settings.marquee_text }}</div>
            {% endfor %}
          </div><!-- /.marquee__inner -->
        {%- endfor -%}
      </marquee-carousel><!-- /.marquee -->
    {%- endcapture -%}
  {%- endif -%}

  {%- if image_blocks.size > 0 -%}
    {%- if section.settings.marquee_position == 'top' -%}
      {{ marquee_html }}
    {%- endif -%}

    <div class="grid grid--auto-flow grid--column-gap-xs-mobile {% if section.settings.remove_image_gap %}grid--no-column-gap{% endif %}  {% unless has_marquee %} mt-l {% endunless %}relative">
      {%- if section.settings.marquee_position == 'middle' -%}
        {{ marquee_html }}
      {%- endif -%}

      {% for block in image_blocks %}
        {%-
          liquid
          capture grid_item_class
            echo 'grid__item'
            if block.settings.hide_on_mobile
              echo ' small-hide'
            endif
            if block.settings.hide_on_tablet
              echo ' medium-hide'
            endif
          endcapture
        -%}
        <div class="{{ grid_item_class }}">
          <a {% if block.settings.link_url != blank %}href="{{ block.settings.link_url }}"{% endif %} class="media media--{{ section.settings.image_aspect_ratio }}" {{ block.shopify_attributes }}>
            {%-
              liquid
              if block.settings.image != blank
                assign image = block.settings.image
                assign image_width = image.width
                assign image_src = image | image_url: width: image_width
                capture image_srcset
                  render 'srcset', image: image
                endcapture
                assign image_alt = image.alt | escape

                render 'image', src: image_src, srcset: image_srcset, alt: image_alt, width: image.width, height: image.height, focal_point: image.presentation.focal_point
              else
                echo 'image' | placeholder_svg_tag: 'placeholder-svg'
              endif
            -%}
          </a><!-- /.media -->
        </div><!-- /.grid-item -->
      {% endfor %}
    </div><!-- /.grid -->

    {%- if section.settings.marquee_position == 'bottom' -%}
      {{ marquee_html }}
    {%- endif -%}
  {%- else -%}
    {{ marquee_html }}
  {%- endif -%}
</div><!-- /.section__wrapper -->

{% schema %}
{
  "name": "t:sections.marquee.name",
  "tag": "section",
  "class": "section-social-feed",
  "settings": [
    {
      "type": "select",
      "id": "style",
      "label": "t:sections.global.settings.style.label",
      "options": [
        {
          "value": "style-1",
          "label": "t:sections.global.settings.style.options.option_1"
        },
        {
          "value": "style-2",
          "label": "t:sections.global.settings.style.options.option_2"
        },
        {
          "value": "style-3",
          "label": "t:sections.global.settings.style.options.option_3"
        }
      ],
      "default": "style-1"
    },
    {
      "type": "select",
      "id": "outer_spacing",
      "label": "t:sections.global.settings.outer-spacing.label",
      "options": [
        {
          "value": "mt-0 mb-0 mt-0--large mb-0--large",
          "label": "t:sections.global.settings.outer-spacing.options.option_1"
        },
        {
          "value": "mt-s mb-s mt-s--large mb-s--large",
          "label": "t:sections.global.settings.outer-spacing.options.option_2"
        },
        {
          "value": "mt-l mb-l mt-l--large mb-l--large",
          "label": "t:sections.global.settings.outer-spacing.options.option_3"
        }
      ],
      "default": "mt-0 mb-0 mt-0--large mb-0--large"
    },
    {
      "type": "select",
      "id": "inner_spacing",
      "label": "t:sections.global.settings.inner-spacing.label",
      "options": [
        {
          "value": "spacing-none",
          "label": "t:sections.global.settings.inner-spacing.options.option_1"
        },
        {
          "value": "spacing-s spacing-s--large",
          "label": "t:sections.global.settings.inner-spacing.options.option_2"
        },
        {
          "value": "spacing-m spacing-m--large",
          "label": "t:sections.global.settings.inner-spacing.options.option_3"
        },
        {
          "value": "spacing-l spacing-l--large",
          "label": "t:sections.global.settings.inner-spacing.options.option_4"
        }
      ],
      "default": "spacing-s spacing-s--large"
    },
    {
      "type": "header",
      "content": "t:sections.global.settings.section_colors.header",
      "info": "t:sections.global.settings.section_colors.info"
    },
    {
      "type": "checkbox",
      "id": "enable_custom_background",
      "label": "t:sections.global.settings.section_colors.checkbox",
      "default": false
    },
    {
      "type": "color",
      "id": "background_color",
      "label": "t:sections.global.settings.section_colors.color"
    },
    {
      "type": "color_background",
      "id": "background_gradient",
      "label": "t:sections.global.settings.section_colors.gradient"
    },
    {
      "type": "header",
      "content": "t:sections.marquee.settings.text_color_header.content",
      "info": "t:sections.marquee.settings.text_color_header.info"
    },
    {
      "type": "checkbox",
      "id": "enable_custom_color",
      "label": "t:sections.marquee.settings.enable_custom_color.label",
      "default": false
    },
    {
      "type": "color",
      "id": "text_color",
      "label": "t:sections.marquee.settings.text_color.label"
    },
    {
      "type": "header",
      "content": "t:sections.marquee.settings.header_marquee.content"
    },
    {
      "type": "richtext",
      "id": "marquee_text",
      "label": "t:sections.marquee.settings.marquee_text.label",
      "default": "<p>Add campaign or promotional text here</p>"
    },
    {
      "type": "range",
      "id": "font_size",
      "min": 30,
      "max": 60,
      "step": 1,
      "unit": "px",
      "label": "t:sections.marquee.settings.font_size.label",
      "default": 48
    },
    {
      "type": "select",
      "id": "heading_size",
      "label": "t:sections.global.settings.heading_size.label",
      "options": [
        {
          "value": "h3",
          "label": "t:sections.global.settings.heading_size.options.option_1"
        },
        {
          "value": "h2",
          "label": "t:sections.global.settings.heading_size.options.option_2"
        },
        {
          "value": "h1",
          "label": "t:sections.global.settings.heading_size.options.option_3"
        }
      ],
      "default": "h2"
    },
    {
      "type": "select",
      "id": "marquee_position",
      "label": "t:sections.marquee.settings.marquee_position.label",
      "options": [
        {
          "value": "top",
          "label": "t:sections.marquee.settings.marquee_position.options.option_1"
        },
        {
          "value": "middle",
          "label": "t:sections.marquee.settings.marquee_position.options.option_2"
        },
        {
          "value": "bottom",
          "label": "t:sections.marquee.settings.marquee_position.options.option_3"
        }
      ],
      "default": "top",
      "info": "t:sections.marquee.settings.marquee_position.info"
    },
    {
      "type": "checkbox",
      "id": "marquee_pause_on_hover",
      "label": "t:sections.marquee.settings.marquee_pause_on_hover.label",
      "default": false
    },
    {
      "type": "range",
      "id": "marquee_speed",
      "label": "t:sections.marquee.settings.marquee_speed.label",
      "min": 1,
      "max": 3,
      "step": 1,
      "default": 1
    },
    {
      "type": "header",
      "content": "t:sections.social-feed.settings.header_image_grid.content",
      "info": "t:sections.social-feed.settings.header_image_grid.info"
    },
    {
      "type": "checkbox",
      "id": "remove_image_gap",
      "label": "t:sections.social-feed.settings.remove_image_gap.label",
      "default": false
    },
    {
      "type": "select",
      "id": "image_aspect_ratio",
      "label": "t:sections.social-feed.settings.image_aspect_ratio.label",
      "options": [
        {
          "value": "portrait",
          "label": "t:sections.social-feed.settings.image_aspect_ratio.options.option_1"
        },
        {
          "value": "1-1",
          "label": "t:sections.social-feed.settings.image_aspect_ratio.options.option_2"
        }
      ],
      "default": "1-1"
    }
  ],
  "blocks": [
    {
      "limit": 8,
      "type": "image",
      "name": "t:sections.social-feed.blocks.image.name",
      "settings": [
        {
          "type": "image_picker",
          "id": "image",
          "label": "t:sections.social-feed.blocks.image.settings.image.label"
        },
        {
          "type": "url",
          "id": "link_url",
          "label": "t:sections.social-feed.blocks.image.settings.link_url.label"
        },
        {
          "type": "checkbox",
          "id": "hide_on_tablet",
          "label": "t:sections.social-feed.blocks.image.settings.hide_on_tablet.label",
          "default": false
        },
        {
          "type": "checkbox",
          "id": "hide_on_mobile",
          "label": "t:sections.social-feed.blocks.image.settings.hide_on_mobile.label",
          "default": false
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "t:sections.marquee.name",
      "blocks": [
        {
          "type": "image"
        },
        {
          "type": "image"
        },
        {
          "type": "image"
        },
        {
          "type": "image"
        }
      ]
    }
  ],
  "enabled_on": {
    "templates": [
      "*"
    ],
    "groups": [
      "aside"
    ]
  }
}
{% endschema %}
