<link rel="stylesheet" href="{{ 'component-text-content.css' | asset_url }}" media="print" onload="this.media='all'">

<noscript>
  {{ 'component-text-content.css' | asset_url | stylesheet_tag }}
</noscript>

{%-
  liquid
  assign style = ''
  if section.settings.enable_custom_background
    if section.settings.background_gradient != blank
      assign style = ' style="--section-background:' | append: section.settings.background_gradient | append: '"'
    elsif section.settings.background_color != blank
      assign style = ' style="--section-background:' | append: section.settings.background_color | append: '"'
    else
      assign style = ''
    endif
  endif

  capture style_classes
    echo 'color-' | append: section.settings.style | append: ' color-background '
    echo section.settings.text_align | append: ' '
    if style != ''
      echo ' section-background'
    endif
  endcapture

  assign container_classes = 'container pt-0 pb-xs pt-0--large pb-0--large'
  if section.settings.narrow_content
    assign container_classes = container_classes | append: ' container--narrow'
  endif
-%}

<div class="section__wrapper {{ style_classes }} {{ section.settings.inner_spacing }} {{ section.settings.outer_spacing }}" {{ style }}>
  <div class="{{- container_classes -}}">
    {%- render 'text-content',
      blocks: section.blocks,
      heading_size_tag: 'h3',
      heading_class: 'h3',
      paragraph_class: 'p3'
    -%}
  </div><!-- /.container -->
</div><!-- /.section -->

{% schema %}
{
  "name": "t:sections.richtext.name",
  "tag": "section",
  "class": "section-richtext",
  "settings": [
    {
      "type": "select",
      "id": "style",
      "label": "t:sections.global.settings.style.label",
      "options": [
        {
          "value": "style-1",
          "label": "t:sections.global.settings.style.options.option_1"
        },
        {
          "value": "style-2",
          "label": "t:sections.global.settings.style.options.option_2"
        },
        {
          "value": "style-3",
          "label": "t:sections.global.settings.style.options.option_3"
        }
      ],
      "default": "style-1"
    },
    {
      "type": "select",
      "id": "outer_spacing",
      "label": "t:sections.global.settings.outer-spacing.label",
      "options": [
        {
          "value": "mt-0 mb-0 mt-0--large mb-0--large",
          "label": "t:sections.global.settings.outer-spacing.options.option_1"
        },
        {
          "value": "mt-s mb-s mt-s--large mb-s--large",
          "label": "t:sections.global.settings.outer-spacing.options.option_2"
        },
        {
          "value": "mt-l mb-l mt-l--large mb-l--large",
          "label": "t:sections.global.settings.outer-spacing.options.option_3"
        }
      ],
      "default": "mt-0 mb-0 mt-0--large mb-0--large"
    },
    {
      "type": "select",
      "id": "inner_spacing",
      "label": "t:sections.global.settings.inner-spacing.label",
      "options": [
        {
          "value": "spacing-none",
          "label": "t:sections.global.settings.inner-spacing.options.option_1"
        },
        {
          "value": "spacing-s spacing-s--large",
          "label": "t:sections.global.settings.inner-spacing.options.option_2"
        },
        {
          "value": "spacing-m spacing-m--large",
          "label": "t:sections.global.settings.inner-spacing.options.option_3"
        },
        {
          "value": "spacing-l spacing-l--large",
          "label": "t:sections.global.settings.inner-spacing.options.option_4"
        }
      ],
      "default": "spacing-s spacing-s--large"
    },
    {
      "type": "text_alignment",
      "id": "text_align",
      "label": "t:sections.richtext.settings.text_align.label",
      "default": "center"
    },
    {
      "type": "checkbox",
      "id": "narrow_content",
      "label": "t:sections.richtext.settings.narrow_content.label",
      "default": false
    },
    {
      "type": "header",
      "content": "t:sections.global.settings.section_colors.header",
      "info": "t:sections.global.settings.section_colors.info"
    },
    {
      "type": "checkbox",
      "id": "enable_custom_background",
      "label": "t:sections.global.settings.section_colors.checkbox",
      "default": false
    },
    {
      "type": "color",
      "id": "background_color",
      "label": "t:sections.global.settings.section_colors.color"
    },
    {
      "type": "color_background",
      "id": "background_gradient",
      "label": "t:sections.global.settings.section_colors.gradient"
    }
  ],
  "blocks": [
    {
      "type": "subheading",
      "name": "t:sections.global.settings.subheading.label",
      "limit": 1,
      "settings": [
        {
          "type": "text",
          "id": "subheading",
          "label": "t:sections.global.settings.subheading.label",
          "default": "Tell your story"
        }
      ]
    },
    {
      "type": "heading",
      "name": "t:sections.global.settings.heading.label",
      "limit": 1,
      "settings": [
        {
          "type": "richtext",
          "id": "heading",
          "label": "t:sections.global.settings.heading.label",
          "default": "<p>Talk about your brand</p>"
        }
      ]
    },
    {
      "limit": 1,
      "type": "paragraph",
      "name": "t:sections.global.settings.paragraph.label",
      "settings": [
        {
          "type": "richtext",
          "id": "paragraph",
          "label": "t:sections.global.settings.paragraph.label",
          "default": "<p>Share information about your brand with your customers. Describe a product, make announcements, or welcome customers to your store.</p>"
        }
      ]
    },
    {
      "limit": 2,
      "type": "buttons",
      "name": "t:sections.global.settings.buttons.label",
      "settings": [
        {
          "type": "header",
          "content": "t:sections.global.settings.buttons.button.header_button_1.content"
        },
        {
          "type": "select",
          "id": "button_style_1",
          "label": "t:sections.global.settings.buttons.button.settings.style.label",
          "options": [
            {
              "value": "solid",
              "label": "t:sections.global.settings.buttons.button.settings.style.options.option_1"
            },
            {
              "value": "outline",
              "label": "t:sections.global.settings.buttons.button.settings.style.options.option_2"
            },
            {
              "value": "link",
              "label": "t:sections.global.settings.buttons.button.settings.style.options.option_3"
            }
          ],
          "default": "link"
        },
        {
          "type": "select",
          "id": "button_size_1",
          "label": "t:sections.global.settings.buttons.button.settings.size.label",
          "options": [
            {
              "value": "s",
              "label": "t:sections.global.settings.buttons.button.settings.size.options.option_1"
            },
            {
              "value": "m",
              "label": "t:sections.global.settings.buttons.button.settings.size.options.option_2"
            },
            {
              "value": "l",
              "label": "t:sections.global.settings.buttons.button.settings.size.options.option_3"
            }
          ],
          "default": "m"
        },
        {
          "type": "text",
          "id": "button_text_1",
          "label": "t:sections.global.settings.buttons.button.settings.button_text.label",
          "default": "Button text"
        },
        {
          "type": "url",
          "id": "button_url_1",
          "label": "t:sections.global.settings.buttons.button.settings.button_url.label",
          "default": "/collections"
        },
        {
          "type": "header",
          "content": "t:sections.global.settings.buttons.button.header_button_2.content"
        },
        {
          "type": "select",
          "id": "button_style_2",
          "label": "t:sections.global.settings.buttons.button.settings.style.label",
          "options": [
            {
              "value": "solid",
              "label": "t:sections.global.settings.buttons.button.settings.style.options.option_1"
            },
            {
              "value": "outline",
              "label": "t:sections.global.settings.buttons.button.settings.style.options.option_2"
            },
            {
              "value": "link",
              "label": "t:sections.global.settings.buttons.button.settings.style.options.option_3"
            }
          ],
          "default": "link"
        },
        {
          "type": "select",
          "id": "button_size_2",
          "label": "t:sections.global.settings.buttons.button.settings.size.label",
          "options": [
            {
              "value": "s",
              "label": "t:sections.global.settings.buttons.button.settings.size.options.option_1"
            },
            {
              "value": "m",
              "label": "t:sections.global.settings.buttons.button.settings.size.options.option_2"
            },
            {
              "value": "l",
              "label": "t:sections.global.settings.buttons.button.settings.size.options.option_3"
            }
          ],
          "default": "m"
        },
        {
          "type": "text",
          "id": "button_text_2",
          "label": "t:sections.global.settings.buttons.button.settings.button_text.label"
        },
        {
          "type": "url",
          "id": "button_url_2",
          "label": "t:sections.global.settings.buttons.button.settings.button_url.label"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "t:sections.richtext.name",
      "blocks": [
        {
          "type": "subheading"
        },
        {
          "type": "heading"
        },
        {
          "type": "paragraph"
        },
        {
          "type": "buttons"
        }
      ]
    }
  ],
  "enabled_on": {
    "templates": [
      "*"
    ],
    "groups": [
      "aside"
    ]
  }
}
{% endschema %}
